.header{
  margin-bottom: 20px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    flex-wrap: wrap;
    padding-right: 20px;
    background-color: #765691;
  }
  .navbar-container .esquerda{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar-container .direita{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .menu img{
    width: 40px;
    height: 40px;
  }
  .lupinha img{
    width: 25px;
    height: 25px;
  }
  .lupinha {
    width: 40px;
    height: 100%;
    background-color: #DAD5CA;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra inicial */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transições suaves */
  }
  
  .lupinha:hover {
    background-color: #492F60;/* Cor do fundo quando o botão é hover */
    transform: scale(1.05); /* Efeito de aumentar o botão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais forte no hover */
  }
  
  .pesquisa input{
    width: 90%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    padding-left: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
  }
  .pesquisa input::placeholder{
    color: gray;
  }
  .pesquisa {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
  }
  
  
  .botaologin,
  .botaocadastro {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin-right: 5px;
    background-color: white;
    transition: background-color 0.3s, transform 0.3s; /* Adicionando uma transição suave */
  }
  
  .botaologin:hover,
  .botaocadastro:hover {
    background-color: #492F60; /* Cor do fundo quando o botão é hover */
    transform: scale(1.05); /* Efeito de aumentar o botão */
  }
  
  
  .header .navbar {
    background-color: #492F60; /* Cor de fundo */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  .navbarMobile{
    display: none;
    background-color: #492F60;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 7px; /* Espaçamento uniforme entre os itens */
    margin: 0;
    padding: 0;
  }
  .navbarMobile ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 7px; /* Espaçamento uniforme entre os itens */
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
  }
  
  .navbar ul li {
    margin: 0;

  }
  
  .navbarMobile ul li a, .navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white; 
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar ul li a:hover {
    background-color: #5B4380;
    color: white;
  }
  
  .navbar ul li a.active {
    background-color: #2e7031; 
    color: white;
  }
  .logo img{
    width: 170px;
    height: 60px;
  }
  .cart-icon, .user-icon, .pincel-icon{
    padding: 5px;
    width: 30px;
    height: 30px;
  }
  .userbutton, .carrinhobutton, .pincelbutton{
    border-radius: 50%;
    padding: 3px;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 5px;
    background-color: white;
    transition: background-color 0.3s, transform 0.3s;
  }
  .userbutton:hover, .carrinhobutton:hover, .pincelbutton:hover{
    background-color: #492F60;
    transform: scale(1.05);
  }
  .hamburguer{
    display: none;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
  }
  .hamburguer:hover {
    transform: scale(1.3);
    filter: brightness(1.2);
    cursor: pointer;
  }

  .cart-count {
    position: absolute;
    top: 5px; 
    right: 5px;
    background-color: red; 
    color: white;
    border-radius: 50%; 
    width: 20px;
    height: 20px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }


  @media (max-width: 1024px) {
    .navbarMobile{
      display: flex;
    }
    .header .navbar{
      display: none;
    }
    .hamburguer{
      display: flex;
    }
    .actions button{
      display: none;
    }

  }
  @media (max-width: 700px) {
    
  .navbar-container{
    height: 150px;
  }
  .navbar-container .esquerda{
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .navbar-container .direita{
    width: 100%;
    justify-content: center;
  }

}
  
  