.Adiciona {
  width: 100%;
  background-color: #F0ECE2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  width:100%;
}
.topo {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.baixo {
  background-color: transparent;
}
.cadastro {
  display: flex;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  flex-direction: column;
  background-color: #765691;
  border-radius: 20px;
}
.topo1 input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  background-color: white;
  padding-left: 10px;
}
.topo1 input::placeholder{
  color: black;
}
.topo2 input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  background-color: white;
  padding-left: 10px;
}
.topo2 input::placeholder{
  color: black;
}
.topo3 p {
  color: white;
}

.topo div {
  width: 350px;
  background-color: transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.topo2 .descricao {
  height: 135px;
}
.imagem {
  display: none; 
}

.imagem-label {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: white;
  background-image: url(./imgs/imagem.png);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Transição suave para todas as propriedades */
}

.imagem-label:hover {
  background-color: #f0f0f0; /* Altera a cor de fundo para um tom mais claro */
  transform: scale(1.05); /* Aumenta levemente o tamanho */
  filter: brightness(1.2); /* Aumenta o brilho da imagem */
}
.baixo button {
  padding: 15px;
  border-radius: 5px;
  background-color: #492F60;
  color: white;
  border: none;
}
.baixo button:hover {
  background-color: white;
  color: #492F60;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.livros-cadastrados {
  width: 80%;
  background-color: transparent;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.card-cadastrados {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #DAD5CA;
  border-radius: 20px;
}
.card-cadastrados div {
  margin: 5px;
  border-radius: 20px;
}
.capa {
  width: 300px;
  height: 300px;
}
.card-cadastrados .botoes-cadastrados button {
  background-color: #765691;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  transition: all 0.3s ease;
}
.botoes-cadastrados {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.botoes-cadastrados button {
  border: none;
}

.card-cadastrados .informacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.card-cadastrados .informacoes .valor {
  margin-top: auto;
  font-size: 1.5rem;
}
.capa img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.preview-imagem {
  max-width: 200px;
  max-height: 300px;
  margin-top: 10px;
}

.voltar {
  background-color: #765691;
  padding: 20px;
  border-radius: 30px;
  color: white;
  transition: all 0.3s ease;
  border:none;
  margin-bottom: 20px;
}

.voltar:hover {
  background-color: #492F60;
  color: white;
  transform: scale(1.1);
}
.botoes-cadastrados button:hover {
  background-color: #492F60;
  color: white;
  transform: scale(1.1);
}
.Adiciona h1{
  color:black;
}

@media (max-width: 1000px) {
  .card-cadastrados {
    flex-direction: column;
  }

  .card-cadastrados div {
    width: 100%;
    margin: 10px 0;
  }
  .botoes-cadastrados {
    align-items: center;
  }
  .botoes-cadastrados button {
    margin-top: 5px;
  }
}

