.Adiciona{
  width: 100%;
  background-color: #5B4380;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topo {
width: 100%;
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.baixo {
background-color: transparent;
}
.cadastro {
display: flex;
width: 80%; 
padding-top: 20px;
padding-bottom: 50px;
margin-bottom: 50px;
flex-direction: column;
background-color: #210052;
border-radius: 20px;
}
.topo1 input{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  background-color: #9b82ca;
  padding-left: 10px;
}
.topo2 input{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  background-color: #9b82ca;
  padding-left: 10px;
}
.topo3 p{
  color:white;
}

.topo div{
  width: 350px;
  background-color:transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.topo2 .descricao{
  height: 135px;
}
.imagem {
  display: none;
}

.imagem + button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-image: url('./imgs/imagem.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  border: 2px dashed #ccc;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
}

.imagem + button:hover {
  border-color: #5B4380;
  background-color: rgba(91, 67, 128, 0.2); 
  transform: scale(1.05);
}


.imagem:focus + button {
  outline: 3px solid #9b82ca;
}
.baixo button{
  padding: 15px;
  border-radius: 5px;
  background-color: #9b82ca;
  color: white;
  border: none;
}
.baixo button:hover {
  background-color: #5B4380;
  transform: scale(1.05); 
  transition: all 0.3s ease; 
}
.livros-cadastrados{
  width: 80%;
  background-color: transparent;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;

}
.card-cadastrados{
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #DDDFDB;
  border-radius: 20px;
}
.card-cadastrados div{
  background-color: transparent;
  margin: 5px;
  border-radius: 20px;
}
.capa{
  width: 240px;
  height: 300px;
}
.card-cadastrados .botoes-cadastrados button{
  background-color: #210052;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  transition: all 0.3s ease;
}
.botoes-cadastrados{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.botoes-cadastrados button{
  border: none;
}

.card-cadastrados .informacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.card-cadastrados .informacoes .valor {
  margin-top: auto; 
  font-size: 1.5rem;
}
.capa img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.voltar {
  background-color: #210052;
  padding: 20px;
  border-radius: 30px;
  color: white;
  transition: all 0.3s ease; 
}

.voltar:hover {
  background-color: #35007a; 
  color: white;
  transform: scale(1.1);
}
.botoes-cadastrados button:hover{
  background-color: #35007a; 
  color: white; 
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .card-cadastrados {
    flex-direction: column; 
  }

  .card-cadastrados div {
    width: 100%; 
    margin: 10px 0;
  }
  .botoes-cadastrados{
      align-items: center;
  }
  .botoes-cadastrados button{
      margin-top: 5px;
  }
}