/* Boleto.css */

.boleto-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0ece2;
  color: #333;
}

.boleto-container h1 {
  font-size: 36px;
  color: #492f60;
  margin-bottom: 20px;
}

.boleto-content {
  background-color: #765691;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
}

.boleto-content p {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.boleto-img-container {
  margin: 20px 0;
}

.boleto-img {
  max-width: 100%;
  height: auto;
  width: 100%; /* Ajuste para caber dentro da área */
  max-width: 400px; /* Limitar o tamanho da imagem */
  margin: 0 auto;
}

.boleto-code {
  font-family: monospace;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  margin-bottom: 20px;
  font-size: 16px;
  color: #210052;
}

.boleto-button {
  padding: 15px;
  margin: 5px;
  width: 300px;
  border-radius: 20px;
  border: none;
  background-color: #492f60;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.boleto-button:hover {
  background-color: #210052;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boleto-button:active {
  transform: scale(0.98);
}

.boleto-warning {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
