.carrinho {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0ECE2;
}
.carrinhoPrincipal {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
}
.produtoCarrinho {
  display: flex;
  background-color: #DAD5CA;
  padding: 10px;
  width: 700px;
  gap: 20px;
  border-radius: 20px;
  margin: 10px;
}
.produtoCarrinho img {
  width: 260px;
  height: 350px;
  background-color: transparent;
  border-radius: 20px;
  object-fit: cover;
  margin:10px;
}
.produtosCarrinho {
  background-color: transparent;
  gap: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.finalizacaoCarrinho {
  background-color: #765691;
  width: 480px;
  height: 600px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.informacoesCarrinho {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.informacoesCarrinho .inferior {
  display: flex;
  justify-content: space-between;
}
.inferior .valor {
  font-size: 20px;
  padding: 0;
}
.informacoesCarrinho .inferior .diminuir,
.informacoesCarrinho .inferior .aumentar,
.inferior .lixeira {
  width: 50px;
  height: 35px;
  border: none;
  padding: 10px;
  margin-left: 5px;
  background-color: #765691;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
}
.informacoesCarrinho .inferior .diminuir:hover,
.informacoesCarrinho .inferior .aumentar:hover,
.inferior .lixeira:hover {
  background-color: #492F60;
  transform: scale(1.1);
}
.descontos {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
}
.descontos input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding-left: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}
.descontos input:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.12);
}
.descontos input:focus {
  box-shadow: 0 0 8px #210052;
  outline: none;
}
.descontos input::placeholder {
  color: rgba(0, 0, 0, 0.732);
}
.total {
  border-top: 2px solid black;
}
.finalizacaoCarrinho button {
  padding: 15px;
  margin: 20px;
  width: 300px;
  border-radius: 20px;
  border: none;
  background-color: #492F60;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.finalizacaoCarrinho button:hover {
  background-color: #210052;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.botaofinalizar {
  background-color: transparent;
  text-align: center;
}
.descontoscalculados {
  background-color: transparent;
}
.voltarprodutos {
  padding: 15px;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #765691;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.voltarprodutos:hover {
  background-color: #492F60;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carrinho h1 {
  margin: 40px;
}
.inferior{
  width: 100%;
}
.inferior .botoes {
  display: flex;
  align-items: flex-end;
}
.inferior .botoes img {
  width: 20px;
  height: 20px;
}
.inferior .botoes button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantidade {
  text-align: center;
  padding: 10px;
}

@media (max-width: 1024px) {
  .produtoCarrinho {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  .produtoCarrinho img {
    width: 300px;
    height: 350px;
  }
  .produtosCarrinho {
    align-items: center;
  }
  .carrinhoPrincipal {
    justify-content: center;
    gap: 20px;
  }
}
