/* Container */

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #DAD5CA;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Produto */
.product-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.product-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-title {
  font-size: 24px;
  color: #222;
}

.product-description {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.product-pricing {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

select,
.btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn-primary {
  background-color: #492F60;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #765691; 
  transform: scale(1.05); 
}

.btn-secondary {
  background-color: #492F60;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}
.enviarbotao{
  border: none;
  background-color: #492F60;
  border-radius: 5px;
  color: white;
}
.enviarbotao:hover{
  background-color: #765691;
  transform: scale(1.05); 
}

.btn-secondary:hover {
  background-color: #765691;
  transform: scale(1.05); 
}

/* Feedback */
.feedback-section {
  margin-top: 30px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #222;
  border-bottom: 2px solid black;
  display: inline-block;
}

.feedback-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.feedback-form input {
  resize: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  width: 250px;
  height: 33px;
}
.feedback-form input::placeholder {
  color: #888; 
  opacity: 1;
}

.feedback-form textarea {
  resize: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.feedback-form select {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box; 
}

.feedback-form button{
  padding: 15px;
}

.reviews .review {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
  overflow: hidden; /* Evita que o texto ultrapasse */
  word-wrap: break-word; /* Permite quebra de palavras longas */
  text-overflow: ellipsis; /* Adiciona "..." se o texto for muito longo */
  max-height: 200px; /* Limita a altura para evitar overflow */
}

.review-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.review-author {
  font-size: 12px;
  color: #555;
}
.voltarproduto {
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #492F60;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.voltarproduto:hover {
  background-color:#765691;
  transform: scale(1.05); 
}
.ranqueando img{
  width: 25px;
  height:25px;
}
.ranqueando{
  display: flex;
  gap: 5px;
}
.reviews .review{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
