/* Container */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Produto */
.product-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.product-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-title {
  font-size: 24px;
  color: #222;
}

.product-description {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.product-pricing {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

select,
.btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #218838;
}

/* Feedback */
.feedback-section {
  margin-top: 30px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #222;
  border-bottom: 2px solid #007bff;
  display: inline-block;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback-form textarea {
  resize: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  width: 160vh;
}

.reviews .review {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.review-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #007bff;
}

.review-author {
  font-size: 12px;
  color: #555;
}
